<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
</head>
<body>
    <div >
        <li><a href="accounts/register">Register</a></li>
        <li><a href="accounts/login">Login</a></li>
        <!-- {% if user.is_authenticated %}
        <li>Hello,{{user.first_name}}</li>
        <li><a href="accounts/register">Logout</a></li> -->
        <!-- {% else %} --> 
        <!-- <li><a href="accounts/register">Register</a></li>
        <li><a href="accounts/login">Login</a></li> -->
        <!-- {% endif %} -->
         
          
    </div>
</body>
</html>